	<footer class="container-fluid">
		<div class="container-fluid">
			<div class="row-fluid">
				<p>emmabaye  freecodecamp</p>
			</div>
		</div>
	</footer>


	<script type="text/javascript" src="/public/js/chart.min.js"></script>
	<script type="text/javascript" src="/public/js/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</html>
