	<footer class="container-fluid">
		<div class="container-fluid">
			<div class="row-fluid">
				<p>freecodecamp project by <a href="http://freecodecamp.com/emmabaye">emmabaye</a></p>
			</div>
		</div>
	</footer>


	<script type="text/javascript" src="/public/js/chart.min.js"></script>
	<script type="text/javascript" src="/public/js/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</html>
