


	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h2><b>Dashboard</b></h2>
					<p class="h5">What would like to do today?</p>
					<a href="/newpoll"><button class="btn btn-default">New Poll</button></a>
					<a href="/myPolls"><button class="btn btn-default">My Polls</button></a>
				</div>
			</div>
		</div>

		
		

		<form class="container newpoll" action="/newpoll" method="POST">
		<h3>New Poll</h3>
  			<div class="form-group">
    				<label for="email">Name your poll</label>
   			 <input type="text" class="form-control" name="name"  placeholder="What's your favorite pet?">
  			</div>
  			<div id="options" class="form-group">
    				<label for="options">Options</label>
   					 <input type="text" class="form-control" name="options" placeholder="Dog">
   					 <input type="text" class="form-control" name="options" placeholder="Cat">
 			 </div>
 			 <div  class="btn-group btn-group-vertica">
  				<button id="more-options" class="btn btn-default block">More Options</button>
  				<button type="submit" class="btn btn-success">Submit</button>
 			 </div>
 			 
		</form>
		<script type="text/javascript">
			var options = document.querySelector("#options");
			var moreOptions = document.querySelector("#more-options");

			moreOptions.addEventListener('click',function(evt){
				evt.preventDefault();
				var option = document.createElement("input");
				option.type = "text";
				option.name = "options";
				option.className = "form-control";
				options.appendChild(option);
			},true)
		</script>

		

	</body>

	

