


	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h1><b>Votex</b></h1>
					<p class="h4">Create custom polls with live results</p>
					<a href="/signup"><button class="btn btn-default">sign Up</button></a>
				</div>
			</div>
		</div>

		<div class="feature container-fluid">
			<div class="feature-div row-fluid">
				<div class="col-md-4"><i class="fa fa-line-chart fa-4x"></i><br/>
					<h3>Live Results</h3><br/>
					Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multigraph types to better describe your results.

				</div>
				<div class="col-md-4"><i class="fa fa-2x"><i class="fa fa-television fa-2x"></i></i><i class="fa fa-tablet fa-2x"></i><br/><!--Multiplication: size of television is fa-4x-->
					<h3>Works Everywhere</h3><br/>
					Traditional desktop computers now represent only 30% of Internet traffic. Your poll must work on tablets, smart phones, notebooks that your visitors are using. Our responsive designs do just that.
				</div>
				<div class="col-md-4"><i class="fa fa-share-alt fa-4x"></i><br/>
					<h3>Social Integration</h3><br/>
					Free integrated facebook or traditional comments allow your poll voters to provide immediate feedback and discuss results. Social share buttons encourage your poll voters to help spread the word.
				</div>
			</div>
		</div>

	</body>

	

</html>