<%- include('./partials/header') -%>


	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h2><b>Dashboard</b></h2>
					<p class="h5">What would like to do today?</p>
					<a href="/newpoll"><button class="btn btn-default">New Poll</button></a>
					<a href="mypolls"><button class="btn btn-default">My Polls</button></a>
				</div>
			</div>
		</div>

		<div class = "container list-group-container">
				  <li class="list-group-item">
					<span class=" badge btn btn-default">Delete</span>
					    Cras justo odio
				 </li>

				 <li class="list-group-item">
					<span class=" badge btn btn-default">Delete</span>
					    Cras justo odio
				 </li>

				 <li class="list-group-item">
					<span class="badge btn btn-default" style="padding:10px border-radius:0">Delete</span>
					    Cras justo odio
				 </li>
				 
			</ul>
		</div>
		
		<%- include('./partials/footer') -%>
	</body>

</html>