<%- include('./partials/header') -%>


	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h2><b>Dashboard</b></h2>
					<p class="h5">What would like to do today?</p>
					<a href="/newpoll"><button class="btn btn-default">New Poll</button></a>
					<a href="mypolls"><button class="btn btn-default">My Polls</button></a>
				</div>
			</div>
		</div>

		<div id="mypolls" class = "container list-group-container mypolls">
					<h3 id="myPollsHeader">Loading...</h3>
				  <!--<a><li class='list-group-item'>
					<span class=' badge btn btn-default'>Delete</span>
					    Cras justo odio
				 </li></a>

				 <li class="list-group-item">
					<span class=" badge btn btn-default">Delete</span>
					    Cras justo odio
				 </li> -->

				<!-- <li class="list-group-item">
					<span class="badge btn btn-default" style="padding:10px border-radius:0">Delete</span>
					    Cras justo odio
				 </li> -->
				 
			
		</div>
		
		<%- include('./partials/footer') -%>
		<script type="text/javascript" src="/public/js/es6-promise.min.js"></script>
		<script type="text/javascript" src="/public/js/fetch.js"></script>
		<script type="text/javascript">
			fetch('/pollapi/mypolls',{
 			 credentials: 'same-origin'
			}).then(function(response){

				console.log("Result: " + "Gotten");
				console.log(response)

				
				 
				return response.json();


			}).then(function(json){
				console.log(json);
				if(json.length == 0){
					document.querySelector("#myPollsHeader").innerHTML = "You have no polls";
				}else{
					document.querySelector("#myPollsHeader").innerHTML = "My Polls";
				}
				
				json.forEach(function(poll){
					console.log(poll.name);

					var list = document.createElement("li");
					list.className = "list-group-item";
					list.innerHTML = "<span class='badge btn btn-default'><a href="+'/delete/polls/' + poll.slug+">Delete</a></span>" + "<a href="+'/polls/' + poll.slug +">" + poll.name ;

					document.querySelector('#mypolls').appendChild(list);
				});

			})
				
		</script>
	</body>

</html>