<%- include('./partials/header') -%>
	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h2><b>Dashboard</b></h2>
					<p class="h5">What would like to do today?</p>
					<a href=""><button class="btn btn-default">New Poll</button></a>
					<a href=""><button class="btn btn-default">My Polls</button></a>
				</div>
			</div>
		</div>
		
	<div class="link-container pollsuccess">
		<h3>Congratulations!</h3>
		<h5>Your poll has been posted to</h5>
		<a href=""><span></span></a>
	</div>

	<%- include('./partials/footer') -%>
	</body>

	

</html>
