<%- include('./partials/header') -%>
<script type="text/javascript" src="/public/js/chart.min.js"></script>
<script type="text/javascript" src="/public/js/fetch.js"></script>
<script type="text/javascript" src="/controllers/controller.client.js"></script>
	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h2><b>Dashboard</b></h2>
					<p class="h5">What would like to do today?</p>
					<a href="/newpoll"><button class="btn btn-default">New Poll</button></a>
					<a href="/mypolls"><button class="btn btn-default">My Polls</button></a>
				</div>
			</div>
		</div>
		
		<% if(messages.failure){%>
			<div class="container alert alert-danger alert-dismissible" role="alert">
	  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	 			 <strong> <%= messages.failure %> </strong> 
			</div>
		<% } else if(messages.success){%>
			<div class=" container alert alert-success alert-dismissible" role="alert">
	  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	 			 <strong><%= messages.success %> </strong> 
	 		</div>
		<% } %>

		<div class="container vote-container">

			<div class="row">
				<div class="col-md-5">
					<p id="pollName" class="h3"> LOADING ... </p><span class="h6"><br>by <span id="createdBy"> </span></span>
					<div id="canvas-holder">
						<canvas id="chart-area" width="500" height="500">
					</div>
				</div>
				<div class="col-md-7 form">
					

					<form method="POST">
						<h4>Options</h4>
						<select  class="form-control" name="choice">
						 <!-- <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option> -->
						</select>

						<input id="custom-option" name="customChoice" class="form-control" type="hidden" placeholder="New Option">

						<input  class="btn btn-default btn-block btn-primary" type="submit" value="Vote">

					</form>
					<a id="fbShare" href="" target="_blank"><button class="btn btn-default btn-block btn-primary">Share on Facebook</button></a>

				</div>
				
				
			</div>

		</div>
		
		
	<%- include('./partials/footer') -%>
	</body>

</html>
