body{
	height: 100%;

}
.intro{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: green;
	padding-top: 50px;
	padding-bottom: 50px;
}

.feature{
	text-align: center;
	padding-bottom: 100px;
}

.feature .col-md-4{
	margin-left:;
}

footer{
	text-align: center;
	colour: white;
	width: 100%;
	height:  50px;
	background-color: black;

	
}

.signup, .login, .newpoll, .mypolls, .change-password{
	padding-bottom: 100px;
}

.newpoll h3{
	text-align: center;
}

.mypolls{
	padding-top: 50px;
}

.change-password {
	padding-top: 100px;
	padding-bottom: 300px;
}

.pollsuccess {
	text-align: center;
	padding-bottom: 200px;
}

/* Use Media Queries to fix footer at the bottom for different screen