<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<head>
		<title>Voting Application</title>
		
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link href="/public/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet"  href="/public/css/font-awesome.css">
	</head>

	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Votex</a>
        </div>
          
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-left">
          	<li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	</header>

	<body>
		<div  class="intro container-fluid">
			<div class="intro-div row-fluid">
				<div class="text-center">
					<h1><b>Votex</b></h1>
					<p class="h4">Create custom polls with live results</p>
					<a href="signup"><button class="btn btn-default">sign Up</button></a>
				</div>
			</div>
		</div>

		<div class="feature container-fluid">
			<div class="feature-div row-fluid">
				<div class="col-md-4"><i class="fa fa-line-chart fa-4x"></i><br/>
					<h2>Live Results</h2><br/>
					Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multigraph types to better describe your results.

				</div>
				<div class="col-md-4"><i class="fa fa-2x"><i class="fa fa-television fa-2x"></i></i><i class="fa fa-tablet fa-2x"></i><br/><!--Multiplication: size of television is fa-4x-->
					<h2>Works Everywhere</h2><br/>
					Traditional desktop computers now represent only 30% of Internet traffic. Your poll must work on tablets, smart phones, notebooks that your visitors are using. Our responsive designs do just that.
				</div>
				<div class="col-md-4"><i class="fa fa-share-alt fa-4x"></i><br/>
					<h2>Social Integration</h2><br/>
					Free integrated facebook or traditional comments allow your poll voters to provide immediate feedback and discuss results. Social share buttons encourage your poll voters to help spread the word.
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/public/js/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

	</body>

	<footer class="container-flui">
		<div class="container-flui">
			<div class="row-flui">
				<p>emmabaye  freecodecamp</p>
			</div>
		</div>
	</footer>
<script type="text/javascript">
	var john = document.getElementById();
</script>
</html>